[submodule "SimpleRobotControl"]
	path = SimpleRobotControl
	url = https://github.com/soulde/SimpleRobotControl.git
[submodule "Planner"]
	path = Planner
	url = https://github.com/soulde/Planner.git
[submodule "sentry_serial"]
	path = sentry_serial
	url = https://github.com/soulde/sentry_serial.git
[submodule "LIO-Livox"]
	path = LIO-Livox
	url = https://github.com/soulde/LIO-Livox.git
[submodule "nav_pkg"]
	path = nav_pkg
	url = https://github.com/soulde/nav_pkg.git
